.App {
  text-align: center;
  color: White;
  height: 100%;
  background: #4682B4;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Copperplate";
  font-size: 40px;
  border-bottom: 1.5px solid White;
  background-color: #2771af;
}

.App-link {
  color: #61dafb;
}

.app-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.list-view {
  flex: 1;
  padding-top: 20px;
  padding-bottom: 20px;
}

.map-view {
  flex: 1;
  padding-top: 35px;
  padding-bottom: 20px;
  padding-left: 20px;
  height: 1100px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
